<section class="location-map" id="location-map" aria-label="Qinhuangdao in East Asia" hidden>
  <div class="map-globe" aria-hidden="true">&#x25CE;</div>
  <div class="map-frame">
    <button class="map-close" type="button" aria-label="Close map">&times;</button>
    <iframe title="Map showing Qinhuangdao in East Asia" data-src="https://www.openstreetmap.org/export/embed.html?bbox=103%2C23%2C146%2C48&amp;layer=mapnik&amp;marker=39.9354%2C119.6005"></iframe>
    <p>Qinhuangdao &middot; 39.9&deg; N, 119.6&deg; E</p>
  </div>
</section>
